@tailwind base;
@tailwind components;
@tailwind utilities;

.intro {
  text-align: center;
}

.intro h1 {
  color: #efefef;
  font-size: 3rem;
  margin: 60px 0 0;
  font-weight: bold;
  font-family: monospace;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container-horizontal > .swiper-pagination {
  top: 0;
  bottom: auto;
}

.swiper-container-horizontal .swiper-pagination-bullet {
  margin: 0;
}

/* .active-mark {
background: #ffeb3b;
width: calc(100% / 4); 
height: 4px;
position: absolute;
left: 0;
top: 52px;
transition: left 0.2s ease-out;
} */

.swiper-pagination-bullet-active {
  font-weight: bold;
}

span.swiper-pagination-bullet {
  display: none;
}

.swiper-container.flex .swiper-pagination {
  position: relative;
  text-align: center;
  z-index: 10;
  padding: 20px 0px;
  /* display: flex; */
}
.swiper-container.flex .swiper {
  display: flex;
  gap: 50px;
  min-height: 400px;
  padding: 8px 0px;
}
.swiper-container.flex .swiper-pagination,
.swiper-container.flex .swiper-wrapper {
  flex-basis: 50%;
  width: 50%;
  /* overflow: hidden; */
}
.swiper-container.flex .swiper {
  display: flex;
  gap: 50px;
  flex-direction: row-reverse;
}

.swipeable-tabs {
  background-image: url(https://images.unsplash.com/photo-1734216736200-6a4f086c1bea);
  padding: 80px 20px 80px 0px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  span.swiper-pagination-bullet {
  display: block;
  height: 20px;
  width: 20px;
}

span.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  border: 2px solid #ffffff;
  background-color: red;
}

/* Target the first bullet */
.swiper-pagination-bullet:nth-child(1) {
  left: 16%;
  position: absolute;
}

.swiper-pagination-bullet:nth-child(2) {
  position: absolute;
  top: 30%;
  left: 30%;
}
.swiper-pagination-bullet:nth-child(3) {
  position: absolute;
  top: 68%;
  left: 30%;
}
.swiper-pagination-bullet:nth-child(4) {
  position: absolute;
  top: 94%;
  left: 16%;
}

.swiper-pagination:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -180px;
  right: 0;
  border: 10px solid #fff;
  height: 400px;
  width: 400px;
  border-radius: 100%;
}
